.layout {
  height: 87%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr;
}

.footer {
  height: 13%;
  background: rgba(0, 0, 0, 0.482);
  width: 100%;
}

.topNav {
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0;
  margin-left: 15px;
}
